**/.localHistory
*.sfuo
*.tmp
*.resource
*.component
*.object
TestCache.xml
TestsResultsCache.xml
**/.cache
.sfdx/
.localdevserver/
**/lwc/jsconfig.json
**/.eslintrc.json
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
# folders
.vscode/
config/
staticresources/
applications/
contentassets/
flexipages/
layouts/
objects/
permissionsets/
tabs/
manifest/
scripts/
globalValueSets/
customMetadata/
envs/
salto.config/
quickstart-integrations/
*.code-workspace
.sf/
force-app/main/default/classes/RHX_*
force-app/main/default/triggers/RHX_*
