.wrap-all{
    position: relative;
}
h3{
    font-size: 1.25rem;
    display: block;
    margin-bottom: 8px;
}
.clear:before, .clear:after{
    display: table;
    content: '';
}
.clear:after{
    clear: both;
}
.dashboard-card{
    border: none;
    padding: 22px 64px 28px;
}
.card-inner-wrap{
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    flex-grow: 1;
    margin-right: 32px;
}
li:last-child{
    margin-right: 0;
}
label{
    display: block;
    margin-bottom: 8px;
}
.a-blue-btn{
    border-radius: 0.25rem;
    display: block;
    color: #fff;
    background-color: #1374e7;
    text-align: center;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
}
.a-blue-btn:hover{
    text-decoration: none;
}