.THIS{
    position: relative;
}
.THIS .top-most-div{
    overflow-y: scroll;
    height:680px;
    scroll-behavior: smooth;
}
.THIS.slds-modal__header{
    padding-top: 0;
    border-bottom: none;
}
    .THIS.slds-modal__content:last-child {
        box-shadow: none;
    }
.THIS .message{
    color: #960000;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
    .THIS .label-hidden {
        display: none;
    }
.THIS.modalFooter{
    border-top: 2px solid rgb(221, 219, 218);
    text-align: center;
    padding-top: 1rem;
}
.THIS .common__label {
    font-size: 1rem;
    font-weight: 600;
}
    .THIS .slds-gutters.cmp-row {
        margin-bottom: 12px;
    }
    .THIS .slds-gutters.last {
        text-align: right;
        margin: 44px 0 6px;
    }
    .THIS .slds-gutters .slds-col.btn-container {
        padding-right: 0;
    }
    .THIS .pill-cb-group:before, .THIS .pill-cb-group:after {
        display: table;
        content: ' ';
    }
    .THIS .pill-cb-group:after {
        clear: both;
    }
    .THIS .pill-cb-group {
        border: 1px solid #000;
        margin: 6px 13px 0;
        padding: 0 14px;
        border-radius: 5px;
        width: auto;
    }
    .THIS .cb-wrap {
        float: left;
    }
    .THIS .pill-cb-group .cb-wrap .slds-form-element__control .slds-radio {
        margin: 6px 0;
    }
    .THIS .cb-wrap.for-lookup {
        margin: 6px 0;
        min-width: 480px;
        min-height: 48px;
    }
    .THIS .btn-wrap {
        float: right;
        margin-top: 10px;
    }
    .THIS.full-mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 68px;
        margin: 3rem 0;
        background: rgba(0, 0, 0, 0.75);
        border-radius: 4px
    }
    .THIS .form-new-container {
        margin: 0 auto;
        height: 100%;
        overflow: auto;
        width: 100%;
        max-width: 800px;
        background-color: #fff;
        padding: 12px 12px;
        position: relative;
        border-radius: 4px;
    }
        .THIS .form-new-container .slds-section__title {
            background: #f3f2f2;
            padding: 4px 0;
        }
    .THIS .header-title-container {
        margin: 0 auto;
    }
    .THIS .sub-header {
        padding: 14px 14px 4px;
    }
        .THIS .form-new-container.true {
            display:none;
        }
        .THIS .form-new-container h1 {
            text-align: center;
            font-size: 1.2rem;
        }
        .THIS .form-new-container .error-msg {
            text-align: center;
            color: #c30000;
            min-height: 18px;
            padding: 2px 0;
        }
    .THIS .form-btn-container {
        text-align: right;
        margin: 18px 0 10px;
        padding: 0 5px 0 0;
    }

    .THIS .page-part {
        border-bottom: 4px ridge #d0d0d0;
        padding-bottom: 10px;
        padding-top: 14px;
    }
        .THIS .page-part.add-new {
            border-bottom: none;
            padding-top: 32px;
        }
        .THIS .page-part:before, .THIS .page-part:after {
            display: table;
            content: ' ';
        }
        .THIS .page-part:after {
            clear: both;
        }
            .THIS .page-part .part-header:before, .THIS .page-part .part-header:after {
                display: table;
                content: ' ';
            }
            .THIS .page-part .part-header:after {
                clear: both;
            }
            .THIS .page-part .part-header .header-left {
                float: left;
                font-weight: 600;
                line-height: 150%;
            }
                .THIS .page-part .part-header .header-left .uiInputRadio .uiLabel {
                    float: right;
                    font-weight: 600;
                }
                .THIS .page-part .part-header .header-left .uiInputRadio input[type="radio"] {
                    float: left;
                    margin-top: 3px;
                    margin-right: 4px;
                }
            .THIS .page-part .part-header .header-center {
                float: left;
            }
        .THIS .page-part .part-body {
            background-color: #fff;
        }
            .THIS .page-part.select .part-body {
                border: 1px solid #dddbda;
            }
    .THIS .exist-header {
        text-align: center;
        background-color: #f3f2f2;
        padding: 5px;
        border-radius: 5px;
        font-weight: 600;
    }
    .THIS .exist-sub-header {
        font-weight: 500;
        padding: 6px 2px;
    }
        .THIS .exist-header .txt {
            padding: 0 6px;
        }
    .THIS .table-header {
        font-weight: 600;
        background-color: #f9f9f9;
        padding: 8px 30px;
        border-bottom: 1px solid #dddbda;
    }
    .THIS table.matches {

    }
        .THIS table.matches thead tr {
            background-color: #f9f9f9;
        }
        .THIS table.matches tbody tr {
            border-top: 1px solid #dddbda;
        }
            .THIS table.matches tbody tr.selected {
                border: 2px solid #d0d0d0;
            }
            .THIS table.matches thead tr th {
                padding: 5px 8px 7px;
            }
            .THIS table.matches tbody tr td {
                padding: 5px 8px 7px;
                color: #1589ee;
                max-width: 338px;
                word-break: break-all;
                vertical-align: top;
            }
                .THIS table.matches tbody tr.selected td {
                    font-weight: 700;
                }
                .THIS table.matches tbody tr td .uiInputCheckbox .uiLabel {
                    color: #1589ee;
                }
                    .THIS table.matches tbody tr.selected td .uiInputCheckbox .uiLabel {
                        color: #1589ee;
                    }
                .THIS table.matches tbody tr td .uiInputCheckbox input[type="checkbox"] {
                    float: left;
                    margin-top: 1px;
                    margin-right: 6px;
                }
    .THIS .lookup-container {
        float: left;
        width: 586px;
    }
    .THIS .lookup-relate-btn-container {
        float: right;
    }
    .THIS .lookup-relate-btn-container.to-left{
        float: left;
    }
    .THIS .pad-left{
        padding-left: 8px;
    }
    .THIS .plain-label {
        padding-right: 10px;
        color: #333;
    }
    .THIS .link-btn {
        color: #1589ee;
        text-decoration: underline;
        font-weight: 600;
    }
        .THIS .link-btn:focus {
            outline: none;
            box-shadow: none;
        }
    .THIS table.matches.validations tr td:first-child {
        width: 30px;
    }
        .THIS table.matches.validations tr td:first-child input[type=radio] {
            position: relative;
            margin: 0;
            top: 2px;
        }
    .THIS .row {
        margin-bottom: 8px;
    }
        .THIS .row:before, .THIS .row::after {
            display: table;
            content: '';
        }
        .THIS .row::after {
            clear: both;
        }
        .THIS .row.al-left {
            text-align: left;
        }
        .THIS .row label.to-left {
            padding: 7px 10px 0 5px;
        }
    .THIS .form-btn-container .row:last-child {
        margin-top: 32px;
    }