.wrap-all{
    position: relative;
}
h3{
    font-size: 1.1rem;
    display: block;
    margin-bottom: 8px;
    border-top: 1px solid #e2e3eb;
    padding-top: 4px;
}
.clear:before, .clear:after{
    display: table;
    content: '';
}
.clear:after{
    clear: both;
}
.dashboard-card{
    border: none;
    border-radius: 0 0 0.25rem 0.25rem;
    display: block;
    padding: 10px 16px 0;
}
.bar-container {
    margin-top: 20px;
}
.bar-container h3{
    border-top: 1px solid #e2e3eb;
    padding-top: 12px;
}
.bar-outer {
    margin: 44px 0 0;
    position: relative;
}
.bar-outer:before, .bar-outer:after {
    display: table;
    content: '';
}
.bar-outer:after {
    clear: both;
}
.bar-section {
    width: 33.3%;
    position: relative;
    height: 12px;
    float: left;
}
    .bar-section.silver {
        width: 60%;
        background-color: #e2e3eb;
    }
    .bar-section.gold {
        width: 10%;
        background-color: #ffd02a;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .bar-section.platinum {
        width: 30%;
        background-color: #97aab9;
    }
.bar-label {
    color: #959595;
    position: absolute;
    top: 12px;
}
.mapp .gold .bar-label, .mapp .platinum .bar-label {
    left: -12px;
}
.actual-label-box {
    background-image : url('https://monday--partial--c.visualforce.com/resource/DashboardTierStatus/ArrowMarker.png');
    height: 48px;
    background-position: bottom center;
    position: relative;
    top: -48px;
    background-repeat: no-repeat;
    background-size: 44%;
    display: inline-block;
    width: 52px;
}
    .actual-label-box .actual-label-inner {
        background-color: #313237;
        border-radius: 0.25rem;
        color: #fff;
        display: inline-block;
        padding: 6px 10px;
        box-shadow: 0px 0px 2px 0px #000;
        width: 100%;
        text-align: center;
    }