.trContainer{
    left:0;
}

.tableTr{
    display: inline-block;
    text-align: center;
}

.imageContainer{
    border-radius: 50px;
    height: 55px;
    width: 55px;
}

.dailyQuotaInput{
    display: inline-block;
    margin-right:5px;
}

.actualOpenLeads{
    display: inline-block;
    color: green;
}

.limitLeads{
    display: inline-block;
    color: red;
}

