.custom-box {
    background-color: #f4f6f9;
}


.tier-combo-allign {
    margin-top: 25px;
    width: 90px;
  }
 
.account-info {
    border-bottom: 1px rgb(221, 219, 218) solid;
    margin-bottom: 8px;
    padding-bottom: 8px;
    background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgba(255,255,255,0) 100%);
  }

.field-title {
    font-size: 12px;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: 2px;
  }

.header-column {
    padding: 4px 0px;
    font-size: 13px;
    text-transform: capitalize;
  }

  .modalBody {
    position: relative;
}