.header-column {
  padding: 4px 24px;
}
.field-title {
  font-size: 12px;
  line-height: 1.25;
  color: #54698d;
  margin-bottom: 2px;
}

.spinner-wrapper {
  height: 400px;
}

.slds-pill__remove {
  display: none !important;
}