.wrap-all{
    position: relative;
}
h3{
    font-size: 1.25rem;
    display: block;
    margin-bottom: 8px;
}
.clear:before, .clear:after{
    display: table;
    content: '';
}
.clear:after{
    clear: both;
}
li.tile{
    float: left;
    margin: 0 12px;
    background-color: #fff;
    border-radius: 0.25rem;
    overflow: hidden;
    padding: 12px;
    width: calc(33% - 8px);
    max-width: 278px;
    height: 278px;
    position: relative;
}
li.tile:last-child, li.tile:first-child{
    margin: 0;
}
li.tile .title:before, li.tile .title:after{
    content: '';
    display: table;
}
li.tile .title:after{
    clear: both;
}
li.tile .title{
    height: 18px;
}
li.tile a{
    color: #000;
    display: block;
    text-decoration: none;
}
li.tile .title .left{
    float: left;
}
li.tile .title .right{
    float: right;
}
li.tile .title .color{
    font-weight: 600;
}
li.tile.orange .title .color{
    color: #fcaa47;
}
li.tile.green .title .color{
    color: #1aca75;
}
li.tile .body{
    margin: 64px auto 0;
    position: relative;
    text-align: center;
}
li.tile .body .main{
    font-weight: 700;
    font-size: 2.5rem;
}
li.tile .body .text{
    font-size: 0.9rem;
}
li.tile .body .text span{
    font-weight: 600;
}
li.tile.bar .body{
    padding: 0 24px;
}
li.tile .body .bar-titles:before, li.tile .body .bar-titles:after{
    content: '';
    display: table;
}
li.tile .body .bar-titles:after{
    clear: both;
}
li.tile .body .bar-titles{
    font-size: 1.72rem;
    font-weight: 700;
}
li.tile .body .bar-titles .green{
    float: left;
}
li.tile .body .bar-titles .orange{
    float: right;
}
li.tile .body .bar:before, li.tile .body .bar:after{
    content: '';
    display: table;
}
li.tile .body .bar:after{
    clear: both;
}
li.tile .body .bar{
    width: 100%;
    height: 32px;
}
li.tile .body .bar .green{
    float: left;
    background-color: #1aca75;
    height: 100%;
}
li.tile .body .bar .orange{
    float: left;
    background-color: #fcaa47;
    height: 100%;
}
li.tile .footer{
    color: #000;
    position: absolute;
    bottom: 12px;
    font-size: 11px;
}
li.tile.orange .footer{
    background-color: #fcaa47;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
}
li.tile.green .footer{
    background-color: #1aca75;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
}
li.tile .footer .green{
    float: left;
    margin-right: 12px;
}
li.tile .footer .orange{
    float: left;
}
li.tile .footer .marker{
    display: inline-block;
    margin-right: 5px;
    height: 10px;
    width: 10px;
    position: relative;
    top: 1px;
}
li.tile .footer .green .marker{
    background-color: #1aca75;
}
li.tile .footer .orange .marker{
    background-color: #fcaa47;
}