.wrap-all{
    position: relative;
    max-width: 858px;
}
h3{
    font-size: 1.25rem;
    display: block;
    margin-bottom: 8px;
}
.clear:before, .clear:after{
    display: table;
    content: '';
}
.clear:after{
    clear: both;
}
.dashboard-card{
    border: none;
    padding: 22px 22px 28px;
}
.dashboard-card .frame{
    width: 100%;
    height: 412px;
}