.header-column {
  padding: 4px 0px;
  font-size: 13px;
  text-transform: capitalize;
}

.field-title {
  font-size: 12px;
  line-height: 1.25;
  color: #54698d;
  margin-bottom: 2px;
}

.account-header {
  padding: 4px 0px;
  word-break: keep-all;
  text-transform: capitalize;
  width: 60px;
}

.spinner-wrapper {
  height: 400px;
}

.currency-tooltip {
  padding: 4px;
}

.slds-card__footer {
  margin-top: 12px;
}

.left-divider {
  border-left: 1px solid grey;
}

.next-step-info {
  padding: 8px;
  color: grey;
}

.next-step-info-item {
  margin: 5px 0 5px 0px;
}

.slds-icon_container {
  padding: 4px;
}

.message-icon {
  padding: 5px;
  padding-left: 12px;
}

.account-info {
  border-bottom: 1px rgb(221, 219, 218) solid;
  margin-bottom: 8px;
  padding-bottom: 8px;
  background: linear-gradient(0deg, rgb(240, 240, 240) 0%, rgba(255,255,255,0) 100%);
}