.slds-modal__container{
	max-width: 80% !important;
	width: 76%;
}
.slds-modal__container > .modal-body.scrollable.slds-modal__content.slds-p-around--medium{
	height: 100% !important;
	max-height: initial !important;
}
@media (min-width: 48em)
.slds-modal__container {
	width: 76%;
}
.panel.slds-modal.slds-modal_prompt.slds-fade-in-open{
	max-width: 568px;
    opacity: 1;
    margin: auto;
}
.panel.slds-modal.slds-modal_prompt.slds-fade-in-open .slds-modal_prompt{
	font-size: 16px;
}